{
  "swagger": "2.0",
  "info": {
    "title": "Game Service",
    "version": "1.0",
    "description": "Game Service"
  },
  "host": "game-service.petgotchi.io",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded",
    "text/plain"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/student/get": {
      "get": {
        "summary": "1. Get student info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "studentId": {
                    "description": "student ID",
                    "type": "string",
                    "example": "20183592"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully get student info",
            "schema": {
              "type": "object",
              "properties": {
                "studentId": {
                  "description": "Student ID",
                  "required": true,
                  "type": "string",
                  "example": "20183592"
                },
                "studentName": {
                  "description": "Student Name",
                  "required": true,
                  "type": "string",
                  "example": "Nguyen Nhat Minh"
                },
                "accountId": {
                  "description": "account Id",
                  "required": true,
                  "type": "string",
                  "example": "asdf34t245yhtyene"
                },
                "studentBusyTime": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3,
                    10,
                    11,
                    12
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid student ID",
                      "example": "Invalid student ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/student/update": {
      "post": {
        "summary": "2. Update student info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "studentId": {
                    "description": "data update of student ID",
                    "type": "string",
                    "example": "20183592"
                  },
                  "studentName": {
                    "description": "data update of student name",
                    "type": "string",
                    "example": "Nguyen Nhat Minh 2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully update info",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid student ID",
                      "example": "Invalid student ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/student/create": {
      "post": {
        "summary": "3. Create student info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "studentId": {
                    "description": "data update of student ID",
                    "type": "string",
                    "example": "20183592"
                  },
                  "studentName": {
                    "description": "data update of student name",
                    "type": "string",
                    "example": "Nguyen Nhat Minh"
                  },
                  "accountId": {
                    "type": "string",
                    "example": "6a5dfwegfdfgstheyqf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully create student",
            "schema": {
              "type": "object",
              "properties": {
                "studentId": {
                  "description": "Student ID",
                  "required": true,
                  "type": "string",
                  "example": "20183592"
                },
                "studentName": {
                  "description": "Student Name",
                  "required": true,
                  "type": "string",
                  "example": "Nguyen Nhat Minh"
                },
                "accountId": {
                  "description": "account Id",
                  "required": true,
                  "type": "string",
                  "example": "6a5dfwegfdfgstheyqf"
                },
                "studentBusyTime": {
                  "type": "array",
                  "example": []
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid student ID",
                      "example": "Invalid student ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/student/delete": {
      "post": {
        "summary": "4. Delete student info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "studentId": {
                    "description": "data update of student ID",
                    "type": "string",
                    "example": "20183592"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully delete info",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid student ID",
                      "example": "Invalid student ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/teacher/get": {
      "get": {
        "summary": "5. Get teacher info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teacherId": {
                    "description": "teacher ID",
                    "type": "string",
                    "example": "0001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully get teacher info",
            "schema": {
              "type": "object",
              "properties": {
                "teacherId": {
                  "description": "teacher ID",
                  "required": true,
                  "type": "string",
                  "example": "0001"
                },
                "teacherName": {
                  "description": "Teacher Name",
                  "required": true,
                  "type": "string",
                  "example": "Pham Van Hai"
                },
                "accountId": {
                  "description": "account Id",
                  "required": true,
                  "type": "string",
                  "example": "asdf34t245yhtyene"
                },
                "teacherBusyTime": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3,
                    10,
                    11,
                    12
                  ]
                },
                "teacherClasses": {
                  "type": "array",
                  "items": {
                    "classId": {
                      "type": "string"
                    },
                    "subjectId": {
                      "type": "string"
                    },
                    "locationName": {
                      "type": "string"
                    },
                    "classBusyTime": {
                      "type": "array"
                    }
                  },
                  "example": [
                    {
                      "classId": "589584",
                      "subjectId": "IT3150",
                      "locationName": "TC-101",
                      "classBusyTime": [
                        1,
                        2,
                        3
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid teacher ID",
                      "example": "Invalid teacher ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/teacher/update": {
      "post": {
        "summary": "6. Update teacher info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teacherId": {
                    "description": "teacher ID",
                    "type": "string",
                    "example": "0001"
                  },
                  "updateInfo": {
                    "description": "data update",
                    "type": "object",
                    "properties": {
                      "teacherName": {
                        "type": "string",
                        "example": "Nguyen Van A"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully update info",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid teacher ID",
                      "example": "Invalid teacher ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/teacher/create": {
      "post": {
        "summary": "7. Create teacher",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teacherId": {
                    "description": "teacher ID",
                    "type": "string",
                    "example": "0001"
                  },
                  "teacherName": {
                    "description": "teacherName",
                    "type": "string",
                    "example": "Nguyen Van A"
                  },
                  "accountId": {
                    "type": "string",
                    "example": "6a5dfwegfdfgstheyqf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully create teacher",
            "schema": {
              "type": "object",
              "properties": {
                "teacherId": {
                  "description": "teacher ID",
                  "type": "string",
                  "example": "0001"
                },
                "teacherName": {
                  "description": "teacherName",
                  "type": "string",
                  "example": "Nguyen Van A"
                },
                "accountId": {
                  "type": "string",
                  "example": "6a5dfwegfdfgstheyqf"
                },
                "teacherBusyTime": {
                  "type": "array",
                  "example": []
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid teacher ID",
                      "example": "Invalid teacher ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/teacher/delete": {
      "post": {
        "summary": "8. Delete teacher",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teacherId": {
                    "type": "string",
                    "example": "0001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully delete teacher",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid teacher ID",
                      "example": "Invalid teacher ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/subject/get": {
      "get": {
        "summary": "9. Get subject info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subjectId": {
                    "type": "string",
                    "example": "IT4000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully get subject info",
            "schema": {
              "type": "object",
              "properties": {
                "subjectId": {
                  "required": true,
                  "type": "string",
                  "example": "IT4000"
                },
                "subjectName": {
                  "required": true,
                  "type": "string",
                  "example": "Database"
                },
                "credit": {
                  "required": true,
                  "type": "number",
                  "example": 3
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid teacher ID",
                      "example": "Invalid teacher ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/subject/update": {
      "post": {
        "summary": "10. Update subject info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subjectId": {
                    "type": "string",
                    "example": "IT4000"
                  },
                  "updateInfo": {
                    "description": "data update",
                    "type": "object",
                    "properties": {
                      "subjectName": {
                        "type": "string",
                        "example": "Database"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully update info",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid subject ID",
                      "example": "Invalid subject ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/subject/create": {
      "post": {
        "summary": "11. Create subject",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subjectId": {
                    "type": "string",
                    "example": "IT3000"
                  },
                  "subjectName": {
                    "type": "string",
                    "example": "Thuat toan ung dung"
                  },
                  "credit": {
                    "type": "number",
                    "example": "3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully create subject",
            "schema": {
              "type": "object",
              "properties": null,
              "subjectId": {
                "type": "string",
                "example": "IT3000"
              },
              "subjectName": {
                "type": "string",
                "example": "Thuat toan ung dung"
              },
              "credit": {
                "type": "number",
                "example": "3"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid subject ID",
                      "example": "Invalid subject ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/subject/delete": {
      "post": {
        "summary": "12. Delete subject",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subjectId": {
                    "type": "string",
                    "example": "IT3000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully delete subject",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid subject ID",
                      "example": "Invalid subject ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/class/get": {
      "get": {
        "summary": "13. Get class info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "classId": {
                    "description": "class ID",
                    "type": "string",
                    "example": "789248"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully get class info",
            "schema": {
              "type": "object",
              "properties": {
                "classId": {
                  "required": true,
                  "type": "string",
                  "example": "789248"
                },
                "subjectId": {
                  "required": true,
                  "type": "string",
                  "example": "IT3505"
                },
                "subjectName": {
                  "required": true,
                  "type": "string",
                  "example": "Database"
                },
                "teacherName": {
                  "type": "string",
                  "example": "Nguyen Van A"
                },
                "locationName": {
                  "type": "string",
                  "example": "TC-209"
                },
                "classBusyTime": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3,
                    10,
                    11,
                    12
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid class ID",
                      "example": "Invalid class ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/class/update": {
      "post": {
        "summary": "14. Update class info",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "classId": {
                    "type": "string",
                    "example": "789254"
                  },
                  "updateInfo": {
                    "description": "data update",
                    "type": "object",
                    "properties": {
                      "subjectId": {
                        "type": "string",
                        "example": "IT-3000"
                      },
                      "teacherId": {
                        "type": "string",
                        "example": "Nguyen Van B"
                      },
                      "locationName": {
                        "type": "string",
                        "example": "TC-401"
                      },
                      "classBusyTime": {
                        "type": "array",
                        "example": [
                          4,
                          5,
                          6
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully update info",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid class ID",
                      "example": "Invalid class ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/class/create": {
      "post": {
        "summary": "15. Create class",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "classId": {
                    "type": "string",
                    "example": "975985"
                  },
                  "subjectId": {
                    "type": "string",
                    "example": "IT-3000"
                  },
                  "teacherId": {
                    "type": "string",
                    "example": "0001"
                  },
                  "locationName": {
                    "type": "string",
                    "example": "TC-101"
                  },
                  "classBusyTime": {
                    "type": "array",
                    "example": [
                      1,
                      2,
                      3
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully create class",
            "schema": {
              "type": "object",
              "properties": {
                "classId": {
                  "type": "string",
                  "example": "975985"
                },
                "subjectId": {
                  "type": "string",
                  "example": "IT-3000"
                },
                "teacherId": {
                  "type": "string",
                  "example": "0001"
                },
                "locationName": {
                  "type": "string",
                  "example": "TC-101"
                },
                "classBusyTime": {
                  "type": "array",
                  "example": [
                    1,
                    2,
                    3
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid class ID",
                      "example": "Invalid class ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    },
    "/class/delete": {
      "post": {
        "summary": "16. Delete class",
        "tags": [
          "Version 0.5"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "Access token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "classId": {
                    "type": "string",
                    "example": "789684"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully delete class",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Successful"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Invalid class ID",
                      "example": "Invalid class ID"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/responses/404"
          },
          "500": {
            "$ref": "#/responses/500"
          }
        }
      }
    }
  },
  "responses": {
    "200": {
      "description": "OK",
      "schema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "OK",
            "example": "OK"
          }
        }
      }
    },
    "400": {
      "description": "Bad request",
      "schema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Invalid access token / Invalid pet",
                "example": "Invalid access token"
              },
              "code": {
                "type": "integer",
                "description": "ERROR_CODE",
                "example": 10003
              }
            }
          }
        }
      }
    },
    "401": {
      "description": "Unauthorized error",
      "schema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Unauthorized error",
                "example": "Unauthorized"
              },
              "code": {
                "type": "integer",
                "description": "ERROR_CODE",
                "example": 10003
              }
            }
          }
        }
      }
    },
    "404": {
      "description": "Not Found",
      "schema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "The URL or its content (such as files or images) was either deleted or moved (without adjusting any internal links accordingly)",
                "example": "Not Found"
              },
              "code": {
                "type": "integer",
                "description": "ERROR_CODE",
                "example": 10004
              }
            }
          }
        }
      }
    },
    "500": {
      "description": "Internal Server Error",
      "schema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "generic error response",
                "example": "Internal Server Error"
              },
              "code": {
                "type": "integer",
                "description": "ERROR_CODE",
                "example": 10005
              }
            }
          }
        }
      }
    }
  }
}
